* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html[data-theme="Stas"] {
  --bg: #16171b;
  --secondColor: #202124;
  --w: #fff;
  --textColor: #cccccc;
  --thirdColo: #2b2c30;
  --red: #a3332b;
  --green: #017e54;
}

html[data-theme="Tempus"] {
  --bg: #161c1a;
  --secondColor: #23302b;
  --w: #fff;
  --textColor: #e9d3c6;
  --thirdColo: #2e3935;
  --red: #8d2c25;
  --green: #568371;
}

html[data-theme="Apple"] {
  --bg: #000000;
  --secondColor: #1c1c1e;
  --w: #fff;
  --textColor: #fcfcfc;
  --thirdColo: #28272b;
  --red: #91180f;
  --green: #017afb;
}

html[data-theme="LTempus"] {
  --bg: #edd3c4;
  --secondColor: #f3e8e6;
  --w: #fff;
  --textColor: #502632;
  --thirdColo: #dfc6c1;
  --red: #502632;
  --green: #d6a79e;
}

html[data-support-svh="True"] {
  --height92: 92dvh;
  --height8: 8dvh;
  --height100: 100dvh;
}
html[data-support-svh="False"] {
  --height92: 92vh;
  --height8: 8vh;
  --height100: 100vh;
}
