@import "./variables.scss";

.header {
  width: 100vw;
  font-family: Raleway;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $--textColor;
  font-weight: 500;
  font-size: 36px;
  height: 8vh;
  position: relative;
  background-color: $--secondColor;
  &-arrow-right {
    transform: rotate(-90deg);
    position: absolute;
    right: -30px;
    background-color: $--secondColor;
    z-index: 10;
    height: 60px;
    width: 8vh;
    padding-top: 2px;
    display: flex;
    justify-content: center;
    align-items: start;
  }
  &-arrow-left {
    transform: rotate(90deg);
    position: absolute;
    left: -30px;
    background-color: $--secondColor;
    z-index: 10;
    height: 60px;
    padding-top: 2px;
    width: 8vh;
    display: flex;
    justify-content: center;
    align-items: start;
  }
  .title {
    display: flex;
    width: 100vw;
    transition: all 0.5s;
    pointer-events: none;
    transform: translate3d(-1 * 100vw, 0px, 0px);
    .title-text {
      text-align: center;
      padding: 0 20px;
      min-width: 100vw;
    }
  }
}
svg {
  pointer-events: none;
}
path {
  pointer-events: none;
}
.Task {
  gap: 10px;
  align-items: center;
  padding: 10px 10px;
  border-radius: 10px;
  display: flex;
  background-color: $--secondColor;
  .Label {
    pointer-events: none;
    font-family: Raleway;
    color: $--textColor;
    width: 100%;
    word-break: break-all;
    font-weight: 400;
    font-size: 17px;
  }
  .date {
    white-space: nowrap;
    pointer-events: none;
    font-size: 15px;
    padding-left: 10px;
    font-family: Raleway;
    font-weight: 600;
    color: #920404;
  }
  .CheckBox {
    pointer-events: none;
  }
  .dellButton {
    background-image: url(./backet.svg);
    height: 18px;
    width: 18px;
    padding-right: 18px;
    background-position: center;
    background-size: contain;
  }
}

.body {
  z-index: 10;
  display: flex;
  transition: all 0.5s;
  transform: translate3d(-1 * 100vw, 0px, 0px);
  .selectDay {
    animation: 0.3s openSelect forwards;
  }
  @keyframes openSelect {
    from {
      margin-left: -92dvh;
      opacity: 0;
    }
    to {
      margin-left: 0;
      opacity: 1;
    }
  }
  @keyframes closeSelect {
    from {
      margin-left: 0;
      opacity: 1;
    }
    to {
      margin-left: -92dvh;
      opacity: 0;
    }
  }

  .place {
    flex-shrink: 0;
    width: 100vw;
    padding: 13px;
    height: 92dvh;
    overflow: hidden;
    background-color: $--bg;
    .scroll {
      display: flex;
      overflow-y: auto;
      flex-direction: column;
      gap: 15px;
    }
  }
  .Main-place {
    display: flex;
    overflow-y: hidden;
    flex-direction: column;
    position: relative;
    gap: 15px;
  }

  .Tomorrow-place {
    display: flex;
    position: relative;
    overflow-y: hidden;
    flex-direction: column;
    gap: 15px;
  }

  .All-place {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
    .place {
      overflow-y: hidden;
      display: flex;
      padding-top: 0;
      flex-direction: column;
      gap: 15px;
    }
    .callendar {
      display: grid;
      align-items: start;
      animation: 0.3s forwards Opasity1;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(7, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      .day {
        color: $--textColor;
        width: 40px;
        border-radius: 10px;
        font-family: Roboto;
        height: 40px;
        flex-shrink: 1;
        padding: 10px;
        background-color: $--secondColor;
        text-align: center;
      }
      .color {
        background-color: #323f3b;
      }
    }
  }
}

.noHaveTasks {
  width: 100vw;
  padding: 13px;
  height: 92vh;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -13px;
  &-body {
    margin-top: -50px;
    padding: 15px 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Raleway;
    color: $--textColor;
    font-size: 25px;
    font-weight: 500;
    gap: 15px;
    background-color: $--secondColor;
    border-radius: 10px;
    .addtask {
      background-color: $--thirdColo;
      padding: 10px;
      font-size: 20px;
      border-radius: 8px;
    }
  }
}

@media (max-width: 352px) {
  .body .All-place .callendar {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 436px) {
  .body .All-place .callendar {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media (min-width: 500px) {
  .body .All-place .callendar {
    grid-template-columns: repeat(9, 1fr);
  }
}
@media (min-width: 550px) {
  .body .All-place .callendar {
    grid-template-columns: repeat(10, 1fr);
  }
}

.AddTask {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 92dvh;
  width: 100vw;
  background-color: $--secondColor;
  z-index: 100;
  animation: 0.5s AddTask forwards;
  display: flex;
  flex-direction: column;
  gap: 15px;

  padding: 13px;
  input {
    color: $--textColor;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  input::placeholder {
    color: #585858;
  }
  .Name {
    border-radius: 15px;
    background: $--thirdColo;
    padding: 12px 15px;
    width: calc(100vw - 26px);
  }
  .date {
    width: calc(100vw - 26px);
    border-radius: 15px;
    background: $--thirdColo;
    padding: 12px 15px;
  }
  .Priority {
    width: calc(100vw - 26px);
    border-radius: 15px;
    background: $--thirdColo;
    padding: 12px 15px;
  }
  .AddTaskButton {
    color: $--textColor;
    font-family: Raleway;
    font-size: 20px;
    padding: 12px 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    border-radius: 15px;
    margin-top: 50px;
    border: 2px solid $--textColor;
  }
}

@keyframes AddTask {
  from {
    bottom: -92dvh;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes CloseAddTask {
  from {
    bottom: 0;
    opacity: 1;
  }
  to {
    bottom: -92vh;
    opacity: 0;
  }
}

.addButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Raleway;
  color: $--textColor;
  font-size: 40px;
  font-weight: 500;
  border-radius: 10px;
  background-color: $--secondColor;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  background-image: url(../assets/pluss.svg);
}

.GoBack {
  position: absolute;
  bottom: 20px;
  right: 90px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Raleway;
  color: $--textColor;
  font-size: 40px;
  font-weight: 500;
  border-radius: 10px;
  background-color: $--secondColor;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  background-image: url(../assets/back.svg);
}
.s {
  right: 20px;
}
.bg {
  background-color: $--thirdColo;
}

@keyframes Opasity1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes Opasity0 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.opacity1 {
  opacity: 1;
}
.opacity07 {
  opacity: 0.7;
}
