@import "./variables.scss";

.header {
  width: 100vw;
  font-family: Raleway;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $--textColor;
  font-weight: 500;
  font-size: 36px;
  height: 8vh;
  position: relative;
  background-color: $--secondColor;
  &-arrow-right {
    transform: rotate(-90deg);
    position: absolute;
    right: -30px;
    background-color: $--secondColor;
    z-index: 10;
    height: 60px;
    width: 8vh;
    padding-top: 2px;
    display: flex;
    justify-content: center;
    align-items: start;
  }
  &-arrow-left {
    transform: rotate(90deg);
    position: absolute;
    left: -30px;
    background-color: $--secondColor;
    z-index: 10;
    height: 60px;
    padding-top: 2px;
    width: 8vh;
    display: flex;
    justify-content: center;
    align-items: start;
  }
  .title {
    display: flex;
    width: 100vw;
    transition: all 0.5s;
    pointer-events: none;
    transform: translate3d(-1 * 100vw, 0px, 0px);
    .title-text {
      text-align: center;
      padding: 0 20px;
      min-width: 100vw;
    }
  }
}
svg {
  pointer-events: none;
}
path {
  pointer-events: none;
}

.body {
  z-index: 10;
  display: flex;
  transition: all 0.5s;
  transform: translate3d(-1 * 100vw, 0px, 0px);
  .place {
    flex-shrink: 0;
    width: 100vw;
    padding: 15px;
    height: 92vh;
    background-color: $--bg;
  }
  .Main-place {
    display: flex;
    flex-direction: column;
    gap: 15px;
    .Task {
      gap: 10px;
      align-items: center;
      padding: 10px 10px;
      border-radius: 10px;
      display: flex;
      background-color: $--secondColor;
      .Label {
        font-family: Raleway;
        color: $--textColor;
        width: 100%;
        word-break: break-all;
        font-weight: 400;
        font-size: 20px;
      }
      .date {
        padding-left: 10px;
        font-family: Raleway;
        font-weight: 600;
        color: #570303;
      }
    }
  }
}
