@import "./variables.scss";

.header {
  width: 100vw;
  font-family: Raleway;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $--textColor;
  font-weight: 500;
  font-size: 36px;
  height: 8vh;
  position: relative;
  background-color: $--secondColor;
  &-arrow-right {
    transform: rotate(-90deg);
    position: absolute;
    right: -30px;
    background-color: $--secondColor;
    z-index: 10;
    height: 60px;
    width: 8vh;
    padding-top: 2px;
    display: flex;
    justify-content: center;
    align-items: start;
  }
  &-arrow-left {
    transform: rotate(90deg);
    position: absolute;
    left: -30px;
    background-color: $--secondColor;
    z-index: 10;
    height: 60px;
    padding-top: 2px;
    width: 8vh;
    display: flex;
    justify-content: center;
    align-items: start;
  }
  .title {
    display: flex;
    width: 100vw;
    transition: all 0.5s;
    pointer-events: none;
    transform: translate3d(-1 * 100vw, 0px, 0px);
    .title-text {
      text-align: center;
      padding: 0 20px;
      min-width: 100vw;
    }
  }
}
svg {
  pointer-events: none;
}
path {
  pointer-events: none;
}
.Task {
  gap: 10px;
  align-items: center;
  padding: 10px 10px;
  border-radius: 10px;
  display: flex;
  background-color: $--secondColor;
  .Label {
    pointer-events: none;
    font-family: Raleway;
    color: $--textColor;
    width: 100%;
    word-break: break-all;
    font-weight: 400;
    font-size: 17px;
  }
  .date {
    pointer-events: none;
    font-size: 15px;
    padding-left: 10px;
    font-family: Raleway;
    font-weight: 600;
    color: #920404;
  }
  .CheckBox {
    pointer-events: none;
  }
}
.body {
  z-index: 10;
  display: flex;
  transition: all 0.5s;
  transform: translate3d(-1 * 100vw, 0px, 0px);
  .place {
    flex-shrink: 0;
    width: 100vw;
    padding: 13px;
    height: 92vh;
    background-color: $--bg;
  }
  .Main-place {
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    gap: 15px;
  }
  .Tomorrow-place {
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    gap: 15px;
  }
  .All-place {
    display: flex;
    flex-direction: column;
    align-items: center;
    .callendar {
      display: grid;
      align-items: start;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(7, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      .day {
        color: $--textColor;
        width: 38px;
        font-family: Roboto;
        height: 38px;
        flex-shrink: 1;
        padding: 10px;
        background-color: $--secondColor;
        text-align: center;
      }
    }
  }
}

.noHaveTasks {
  width: 100vw;
  padding: 13px;
  height: 92vh;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -13px;
  &-body {
    margin-top: -50px;
    padding: 15px 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Raleway;
    color: $--textColor;
    font-size: 25px;
    font-weight: 500;
    gap: 15px;
    background-color: $--secondColor;
    border-radius: 10px;
    .addtask {
      background-color: #2e3935;
      padding: 5px;
      font-size: 20px;
      border-radius: 8px;
    }
  }
}

@media (max-width: 352px) {
  .body .All-place .callendar {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 436px) {
  .body .All-place .callendar {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media (min-width: 500px) {
  .body .All-place .callendar {
    grid-template-columns: repeat(9, 1fr);
  }
}
@media (min-width: 550px) {
  .body .All-place .callendar {
    grid-template-columns: repeat(10, 1fr);
  }
}
