@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&family=Roboto:wght@400;500&display=swap");
body {
  min-height: calc(100dvh + 1px);
}

html {
  height: calc(100dvh + 1px);
}

.header {
  width: 100dvw;
  font-family: Raleway;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #e9d3c6;
  font-weight: 500;
  font-size: 36px;
  height: 8vh;
  position: relative;
  background-color: #23302b;
}
.header-arrow-right {
  transform: rotate(-90deg);
  position: absolute;
  right: -30px;
  background-color: #23302b;
  z-index: 10;
  height: 60px;
  width: 8vh;
  padding-top: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: start;
}
.header-arrow-left {
  cursor: pointer;
  transform: rotate(90deg);
  position: absolute;
  left: -30px;
  background-color: #23302b;
  z-index: 10;
  height: 60px;
  padding-top: 2px;
  width: 8vh;
  display: flex;
  justify-content: center;
  align-items: start;
}
.header .title {
  display: flex;
  width: 100dvw;
  transition: all 0.5s;
  pointer-events: none;
  transform: translate3d(-100vw, 0px, 0px);
}
.header .title .title-text {
  text-align: center;
  padding: 0 20px;
  min-width: 100vw;
}

svg {
  pointer-events: none;
}

path {
  pointer-events: none;
}

.Task {
  gap: 10px;
  align-items: center;
  padding: 10px 10px;
  border-radius: 10px;
  display: flex;
  cursor: pointer;
  background-color: #23302b;
}
.Task .Label {
  pointer-events: none;
  font-family: Raleway;
  color: #e9d3c6;
  width: 100%;
  word-break: break-all;
  font-weight: 400;
  font-size: 17px;
}
.Task .date {
  white-space: nowrap;
  pointer-events: none;
  font-size: 15px;
  padding-left: 10px;
  font-family: Raleway;
  font-weight: 600;
  color: #920404;
}
.Task .CheckBox {
  pointer-events: none;
}
.Task .dellButton {
  background-image: url(./backet.svg);
  height: 18px;
  cursor: pointer;
  width: 18px;
  padding-right: 18px;
  background-position: center;
  background-size: contain;
}

.body {
  z-index: 10;
  display: flex;
  transition: all 0.5s;
  transform: translate3d(-100vw, 0px, 0px);
}
.body .selectDay {
  animation: 0.3s openSelect forwards;
}
@keyframes openSelect {
  from {
    margin-left: -92dvh;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}
@keyframes closeSelect {
  from {
    margin-left: 0;
    opacity: 1;
  }
  to {
    margin-left: -92dvh;
    opacity: 0;
  }
}
.body .place {
  flex-shrink: 0;
  width: 100vw;
  padding: 13px;
  height: 92dvh;
  overflow: hidden;
  background-color: #161c1a;
}
.body .place .scroll {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  gap: 15px;
}
.body .Main-place {
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
  position: relative;
  gap: 15px;
}
.body .Tomorrow-place {
  display: flex;
  position: relative;
  overflow-y: hidden;
  flex-direction: column;
  gap: 15px;
}
.body .All-place {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
}
.body .All-place .place {
  overflow-y: hidden;
  display: flex;
  padding-top: 0;
  flex-direction: column;
  gap: 15px;
}
.body .All-place .callendar {
  display: grid;
  align-items: start;
  animation: 0.3s forwards Opasity1;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  max-height: 240px;
}
.body .All-place .callendar .day {
  cursor: pointer;
  color: #e9d3c6;
  width: 40px;
  border-radius: 10px;
  font-family: Roboto;
  height: 40px;
  flex-shrink: 1;
  padding: 10px;
  background-color: #23302b;
  text-align: center;
}
.body .All-place .callendar .color {
  background-color: #323f3b;
}

.noHaveTasks {
  width: 100dvw;
  padding: 13px;
  height: 92dvh;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -13px;
}
.noHaveTasks-body {
  margin-top: -50px;
  padding: 15px 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Raleway;
  color: #e9d3c6;
  font-size: 25px;
  font-weight: 500;
  gap: 15px;
  background-color: #23302b;
  border-radius: 10px;
}
.noHaveTasks-body .addtask {
  background-color: #2e3935;
  padding: 10px;
  font-size: 20px;
  border-radius: 8px;
}

@media (max-width: 352px) {
  .body .All-place .callendar {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 436px) {
  .body .All-place .callendar {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media (min-width: 500px) {
  .body .All-place .callendar {
    grid-template-columns: repeat(9, 1fr);
  }
}
@media (min-width: 550px) {
  .body .All-place .callendar {
    grid-template-columns: repeat(10, 1fr);
  }
}
.AddTask {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 92dvh;
  width: 100dvw;
  background-color: #23302b;
  z-index: 100;
  animation: 0.5s AddTask forwards;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 13px;
}
.AddTask input {
  color: #e9d3c6;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.AddTask input::-moz-placeholder {
  color: #585858;
}
.AddTask input::placeholder {
  color: #585858;
}
.AddTask select {
  color: #e9d3c6;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.AddTask .Name {
  border-radius: 15px;
  background: #2e3935;
  padding: 12px 15px;
  width: calc(100dvw - 26px);
}
.AddTask .date {
  width: calc(100dvw - 26px);
  border-radius: 15px;
  background: #2e3935;
  padding: 12px 15px;
}
.AddTask .Priority {
  width: calc(100dvw - 26px);
  border-radius: 15px;
  background: #2e3935;
  padding: 12px 15px;
}
.AddTask .AddTaskButton {
  color: #e9d3c6;
  font-family: Raleway;
  font-size: 20px;
  padding: 12px 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border-radius: 15px;
  margin-top: 50px;
  border: 2px solid #e9d3c6;
}

@keyframes AddTask {
  from {
    bottom: -92dvh;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes CloseAddTask {
  from {
    bottom: 0;
    opacity: 1;
  }
  to {
    bottom: -92dvh;
    opacity: 0;
  }
}
.addButton {
  position: absolute;
  bottom: 20px;
  cursor: pointer;
  right: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Raleway;
  color: #e9d3c6;
  font-size: 40px;
  font-weight: 500;
  border-radius: 10px;
  background-color: #23302b;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  background-image: url(../assets/pluss.svg);
}

.GoBack {
  position: absolute;
  bottom: 20px;
  right: 90px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Raleway;
  color: #e9d3c6;
  font-size: 40px;
  font-weight: 500;
  border-radius: 10px;
  background-color: #23302b;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  background-image: url(../assets/back.svg);
}

.s {
  right: 20px;
}

.bg {
  background-color: #2e3935;
}

@keyframes Opasity1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes Opasity0 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.opacity1 {
  opacity: 1;
}

.opacity07 {
  opacity: 0.7;
}

.statist {
  max-width: 500px;
  transition: all 0s;
  margin-top: 20px;
  width: calc(100vw - 30px);
  padding-top: 10px;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #23302b;
}
.statist .title {
  transition: all 0s;
  font-family: Raleway;
  color: #e9d3c6;
  font-size: 25px;
  font-weight: 500;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.statist .title .button {
  transition: all 0s;
  cursor: pointer;
}
.statist .distogram {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #23302b;
  margin-top: 20px;
  transition: all 0s;
  overflow: hidden;
}
.statist .distogram canvas {
  transition: all 0s;
  width: 100%;
}
.statist .text-stat {
  font-family: Raleway;
  color: #e9d3c6;
  font-size: 20px;
  margin-top: 20px;
  font-weight: 400;
  text-align: center;
}/*# sourceMappingURL=style.css.map */